node_modules/
config.*.json
!config.example.local.json
!config.example.cloud.json
!config.localtest.json

.vscode
*.code-workspace
logs
coverage/

testResources/jobs/*

!testResources/jobs/job_3.1.0-alpha.3_cloud
!testResources/jobs/job_3.1.0-alpha.3_cloud_single_appScanner
!testResources/jobs/job_3.1.0-alpha.3_local
!testResources/jobs/job_3.1.0-alpha.3_local_missing_comma
!testResources/jobs/job_3.1.0-alpha.3_local_missing_type_of_appScanner

