node_modules/
config.*.json
!config.example.local.json
!config.example.cloud.json
!config.test.json

.vscode
*.code-workspace
logs
coverage/

testResources/jobs/*
!testResources/jobs/job_0.1.0-alpha.1_cloud
!testResources/jobs/job_0.1.0-alpha.1_cloud_single_testSession
!testResources/jobs/job_0.1.0-alpha.1_local
!testResources/jobs/job_0.1.0-alpha.1_local_missing_comma
!testResources/jobs/job_0.1.0-alpha.1_local_missing_type_of_testSession

!testResources/jobs/job_1.0.0-alpha.3_cloud
!testResources/jobs/job_1.0.0-alpha.3_cloud_single_appScanner
!testResources/jobs/job_1.0.0-alpha.3_local
!testResources/jobs/job_1.0.0-alpha.3_local_missing_comma
!testResources/jobs/job_1.0.0-alpha.3_local_missing_type_of_appScanner

!testResources/jobs/job_2.0.0-alpha.3_cloud
!testResources/jobs/job_2.0.0-alpha.3_cloud_single_appScanner
!testResources/jobs/job_2.0.0-alpha.3_local
!testResources/jobs/job_2.0.0-alpha.3_local_missing_comma
!testResources/jobs/job_2.0.0-alpha.3_local_missing_type_of_appScanner

!testResources/jobs/job_3.0.0-alpha.3_cloud
!testResources/jobs/job_3.0.0-alpha.3_cloud_single_appScanner
!testResources/jobs/job_3.0.0-alpha.3_local
!testResources/jobs/job_3.0.0-alpha.3_local_missing_comma
!testResources/jobs/job_3.0.0-alpha.3_local_missing_type_of_appScanner
